body, html {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.3rem;
  color: #000;
  margin: 0;
  padding: 0;
}



ul {
    list-style-type: none;
    padding: 0;
}